@{
    ViewData["Title"] = "Home Page";

    Dictionary<Forklift.PowerSource, string> psDisplayName = new()
    {
        {Forklift.PowerSource.DIESEL, "Dízel"},
        {Forklift.PowerSource.GASOLINE, "Benzin"},
        {Forklift.PowerSource.NATGAS, "Gáz"},
        {Forklift.PowerSource.ELECTRIC, "Elektromos"}
    };
}
@using OpDoc_Manager.Models.DTO
@using OpDoc_Manager.Models

@model List<ForkliftIndexDTO>

<div class="row">
    @foreach (var forklift in Model)
    {
        bool passedInspectionDate = (forklift.NextInspectionDate <= DateOnly.FromDateTime(DateTime.Now) || forklift.NextInspectionOpHours <= forklift.OperatingHours);
        bool needsInspectionSoon = (forklift.NextInspectionDate <= DateOnly.FromDateTime(DateTime.Now).AddDays(21) || forklift.NextInspectionOpHours <= forklift.OperatingHours + 100);
        string cardClass = passedInspectionDate ? "card highlight-on-hover bg-danger bg-opacity-10 border-danger mb-3" : (needsInspectionSoon ? "card highlight-on-hover bg-warning bg-opacity-10 border-warning mb-3" : "card highlight-on-hover mb-3");
        string headerClass = passedInspectionDate ? "card-header h5 bg-danger bg-opacity-50 align-content-center" : (needsInspectionSoon ? "card-header h5 bg-warning bg-opacity-50 align-content-center" : "card-header h5 align-content-center");
        string errorMessage = passedInspectionDate ? "A targonca meghaladta az előírt vizsgálati időt!" : (needsInspectionSoon ? "A targonca közeledik a következő előírt vizsgálathoz!" : "");
        string errorMessageClass = passedInspectionDate ? "text-danger" : (needsInspectionSoon ? "text-warning" : "");

        <div class="col-md-4 mb-3">
            <div class="@cardClass">
                <a href="@Url.Action("Edit","Forklift", new {id = forklift.UniqueId})" class="text-decoration-none text-black">
                    <div class="@headerClass" style="min-height:64px">
                        @forklift.Operator - @forklift.Name (Üó.: @forklift.OperatingHours)
                    </div>
                    <div class="card-body">
                        Gyártási szám: @forklift.ProductionNumber<br />
                        Típus: @forklift.Manufacturer @forklift.Type (@psDisplayName[forklift.PowerSource]) <br />
                        <div class="@errorMessageClass" title="@errorMessage">
                            Következő vizsgálat: @forklift.NextInspectionDate.ToString("yyyy.MM.dd.") / @forklift.NextInspectionOpHours üó. 
                            @(passedInspectionDate ? Html.Raw("<i class=\"bi bi-exclamation-triangle\"></i>") : needsInspectionSoon ? Html.Raw("<i class=\"bi bi-exclamation-circle\"></i>") : "")
                        </div>
                    </div>
                </a>
            </div>
        </div>
    }
    @if (User.IsInRole("Admin"))
    {
        <div class="col-md-4 mb-3">
            <div class="card highlight-on-hover mb-3">
                <div class="card-header h5 align-content-center" style="min-height:64px">Új elem</div>
                <a href="@Url.Action("Create","Forklift", new {id = Guid.Empty})">
                    <div class="card-body d-flex align-items-center justify-content-center" style="height:104px">
                        <i class="bi bi-plus-circle h2 text-secondary"></i>
                    </div>
                </a>
            </div>
        </div>
    }

</div>
