@{

    var reportTypeSelector = new List<SelectListItem>{
        new SelectListItem("Ellenörző", "INSPEECTION"),
        new SelectListItem("Szerkezeti", "STRUCTURAL", true),
        new SelectListItem("Fővizsgálat", "MAIN")
    };

    var dropdownAttributes = new Dictionary<string, object> { { "class", "form-select" } };
    var numInputAttributes = new Dictionary<string, object> { { "class", "form-control" }, { "type", "number" } };
    var textboxAttributes = new Dictionary<string, object> { { "class", "form-control" } };
    var validationAttributes = new Dictionary<string, object> { { "class", "text-danger" } };

}
@model Forklift.MainenanceReport

<div class="tab-pane col-md-8 fade" id="maintenance" role="tabpanel" aria-labelledby="maintenance-tab">

    @using (Html.BeginForm("AddInspection", "Forklift", FormMethod.Post, new { @id = "MaintenanceForm" }))
    {
        <div class="card">
            <div class="card-header d-flex">
                <div class="align-content-center">
                    Javítás / Csere
                </div>

                <div class="flex-fill">
                </div>
                <div class="align-self-center">
                    <button type="submit" class="btn-sm btn-primary">Mentés</button>
                </div>
            </div>
            <div class="card-body">

                @Html.HiddenFor(mr => mr.ForkliftId)

                <div class="row mb-3">

                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-text col-md-7">
                                @Html.LabelFor(mr => mr.Date, "Dátum:")
                            </span>
                            @Html.TextBoxFor(mr => mr.Date, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                            @Html.ValidationMessageFor(mr => mr.Date, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-text col-md-9">
                                @Html.LabelFor(mr => mr.OperatingHours, "Üzemóra: (vizsgálat idején)")
                            </span>
                            @Html.TextBoxFor(mr => mr.OperatingHours, new { @class = "form-control" })
                            @Html.ValidationMessageFor(mr => mr.OperatingHours, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>

                <div class="row mb-3">
                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="input-group-text col-md-3">
                                @Html.LabelFor(mr => mr.Description, "Leírás:")
                            </span>
                            @Html.TextAreaFor(mr => mr.Description, new { @class = "form-control" })
                            @Html.ValidationMessageFor(mr => mr.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>


            </div>
        </div>
    }

</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const form = document.getElementById('MaintenanceForm');
        form.addEventListener('submit', function (event) {
            event.preventDefault();
            var isValid = $('#MaintenanceForm').valid();
            console.log(isValid);

            if(isValid){
                $.ajax({
                    type: 'POST',
                    url: form.getAttribute('action'),
                    data: new FormData(form),
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        alert('Success: ' + response.message);
                    },
                    error: function (xhr, status, error) {
                        alert('Error: ' + xhr.responseText);
                    }
                });
            }
        });
    });

</script>