@{
    var forkliftTypeSelector = new List<SelectListItem> {
        new SelectListItem("Emelőtargonca", "LIFT"),
        new SelectListItem("Vontatótargonca","TOW"),
        new SelectListItem("Szállítótargonca", "TRANSPORT")};

    var controlMethodSelector = new List<SelectListItem> {
        new SelectListItem("Vezetőüles", "SEAT"),
        new SelectListItem("Vezetőállás", "STAND"),
        new SelectListItem("Gyalogkíséret", "WALK")
    };

    var energySourceSelector = new List<SelectListItem> {
        new SelectListItem("Dízel", "DIESEL"),
        new SelectListItem("Benzin", "GASOLINE"),
        new SelectListItem("Földgáz", "NATGAS"),
        new SelectListItem("Elektromos", "ELECTRIC"),

    };
}

@model Forklift.GeneralInformation;


<div class="tab-pane fade col-11 show active" id="general" role="tabpanel" aria-labelled-by="general-tab">



    <div class="row mb-3">
        <div class="col-md-8">
            <div class="input-group">
                <span class="input-group-text" style="width:20%">
                    @Html.LabelFor(g=>g.Name, "Megnevezés:")
                </span>
                @Html.TextBoxFor(g=>g.Name, new {@class = "form-control"})
                @Html.ValidationMessageFor(g=>g.Name, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>


    <div class="row mb-3">
        <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-text col-md-5">
                    @Html.LabelFor(g=>g.Manufacturer, "Gyártó:")
                </span>
                @Html.TextBoxFor(g=>g.Manufacturer, new {@class = "form-control"})
                @Html.ValidationMessageFor(g=>g.Manufacturer, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-text col-md-5">
                    @Html.LabelFor(g=>g.Model, "Típusjelzés:")
                </span>
                @Html.TextBoxFor(g=>g.Model, new {@class = "form-control"})
                @Html.ValidationMessageFor(g=>g.Model, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-4">
            <div class="col-md-11">
                <div class="input-group">
                    <span class="input-group-text col-md-7">
                        @Html.LabelFor(g=>g.ManufacturingYear, "Gyártás éve:")
                    </span>
                    @Html.TextBoxFor(g=>g.ManufacturingYear, new {@class = "form-control hide-input", type="number"})
                    @Html.ValidationMessageFor(g=>g.ManufacturingYear, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>


    <div class="row mb-3">
        <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-text col-md-5">
                    @Html.LabelFor(g=>g.ProductionNumber, "Gyártási szám:")
                </span>
                @Html.TextBoxFor(g=>g.ProductionNumber, new {@class = "form-control"})
                @Html.ValidationMessageFor(g=>g.ProductionNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-text col-md-7">
                    @Html.LabelFor(g=>g.EntryIntoService, "Első üzembehelyezés:")
                </span>
                @Html.TextBoxFor(g=>g.EntryIntoService, "{0:yyyy-MM-dd}", new {@class = "form-control", type="date"})
                @Html.ValidationMessageFor(g=>g.EntryIntoService, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>


    <div class="row mb-3">
        <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-text col-md-5">
                    @Html.LabelFor(g=>g.OperationType, "Targonca típusa:")
                </span>
                @Html.DropDownListFor(g=>g.OperationType, forkliftTypeSelector, new {@class = "form-select"})
                @Html.ValidationMessageFor(g=>g.OperationType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-text col-md-5">
                    @Html.LabelFor(g=>g.ControlMethod, "Kezelés módja:")
                </span>
                @Html.DropDownListFor(g=>g.ControlMethod, controlMethodSelector, new {@class = "form-select"})
                @Html.ValidationMessageFor(g=>g.ControlMethod, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-4">
            <div class="col-md-11">
                <div class="input-group">
                    <span class="input-group-text col-md-7">
                        @Html.LabelFor(g=>g.EnergySource, "Működtetőenergia:")
                    </span>
                    @Html.DropDownListFor(g=>g.EnergySource, energySourceSelector, new {@class = "form-select"})
                    @Html.ValidationMessageFor(g=>g.EnergySource, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

    </div>



</div>
