@{
    ViewData["Title"] = "Forklift Editor";

    var forkliftTypeSelector = new List<SelectListItem> {
        new SelectListItem("Emelőtargonca", "LIFT"),
        new SelectListItem("Vontatótargonca","TOW"),
        new SelectListItem("Szállítótargonca", "TRANSPORT")};

    var controlMethodSelector = new List<SelectListItem> {
        new SelectListItem("Vezetőüles", "SEAT"),
        new SelectListItem("Vezetőállás", "STAND"),
        new SelectListItem("Gyalogkíséret", "WALK")
    };

    var energySourceSelector = new List<SelectListItem> {
        new SelectListItem("Dízel", "DIESEL"),
        new SelectListItem("Benzin", "GASOLINE"),
        new SelectListItem("Földgáz", "NATGAS"),
        new SelectListItem("Elektromos", "ELECTRIC"),

    };
}
@using OpDoc_Manager.Models
@model Forklift

@using (Html.BeginForm("Save", "Editor", FormMethod.Post))
{
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a href="#general" class="nav-link" id="general-tab" role="tab" data-bs-toggle="tab" aria-controls="general" aria-selected="true">Általános</a>
            </li>
            <li class="nav-item">
                <a href="#owner" class="nav-link active" id="owner-tab" role="tab" data-bs-toggle="tab" aria-controls="owner">Tulajdonos</a>
            </li>
            <li class="nav-item">
                <a href="#operation" class="nav-link" id="operation-tab" role="tab" data-bs-toggle="tab" aria-controls="operation">Üzemeltetés</a>
            </li>
        </ul>
    </nav>

    <div class="tab-content">

        <!-- General -->
        <div class="tab-pane fade col-11" id="general" role="tabpanel" aria-labelled-by="general-tab">



            <div class="row mb-3">
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-text" style="width:20%">
                            @Html.LabelFor(forklift=>forklift.General.Name, "Megnevezés:")
                        </span>
                        @Html.TextBoxFor(forklift=>forklift.General.Name, new {@class = "form-control"})
                        @Html.ValidationMessageFor(forklift=>forklift.General.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>


            <div class="row mb-3">
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-text col-md-5">
                            @Html.LabelFor(forklift=>forklift.General.Manufacturer, "Gyártó:")
                        </span>
                        @Html.TextBoxFor(forklift=>forklift.General.Manufacturer, new {@class = "form-control"})
                        @Html.ValidationMessageFor(forklift=>forklift.General.Manufacturer, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-text col-md-5">
                            @Html.LabelFor(forklift=>forklift.General.Type, "Típusjelzés:")
                        </span>
                        @Html.TextBoxFor(forklift=>forklift.General.Type, new {@class = "form-control"})
                        @Html.ValidationMessageFor(forklift=>forklift.General.Type, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="col-md-11">
                        <div class="input-group">
                            <span class="input-group-text col-md-7">
                                @Html.LabelFor(forklift=>forklift.General.ManufacturingYear, "Gyártás éve:")
                            </span>
                            @Html.TextBoxFor(forklift=>forklift.General.ManufacturingYear, new {@class = "form-control hide-input", type="number"})
                            @Html.ValidationMessageFor(forklift=>forklift.General.ManufacturingYear, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>


            <div class="row mb-3">
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-text col-md-5">
                            @Html.LabelFor(forklift=>forklift.General.ProductionNumber, "Gyártási szám:")
                        </span>
                        @Html.TextBoxFor(forklift=>forklift.General.ProductionNumber, new {@class = "form-control"})
                        @Html.ValidationMessageFor(forklift=>forklift.General.ProductionNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-text col-md-7">
                            @Html.LabelFor(forklift=>forklift.General.EntryIntoService, "Első üzembehelyezés:")
                        </span>
                        @Html.TextBoxFor(forklift=>forklift.General.EntryIntoService, "{0:yyyy-MM-dd}", new {@class = "form-control", type="date"})
                        @Html.ValidationMessageFor(forklift=>forklift.General.EntryIntoService, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>


            <div class="row mb-3">
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-text col-md-5">
                            @Html.LabelFor(forklift=>forklift.General.ForkliftType, "Targonca típusa:")
                        </span>
                        @Html.DropDownListFor(forklift=>forklift.General.ForkliftType, forkliftTypeSelector, new {@class = "form-select"})
                        @Html.ValidationMessageFor(forklift=>forklift.General.ForkliftType, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-text col-md-5">
                            @Html.LabelFor(forklift=>forklift.General.ControlMethod, "Kezelés módja:")
                        </span>
                        @Html.DropDownListFor(forklift=>forklift.General.ControlMethod, controlMethodSelector, new {@class = "form-select"})
                        @Html.ValidationMessageFor(forklift=>forklift.General.ControlMethod, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="col-md-11">
                        <div class="input-group">
                            <span class="input-group-text col-md-7">
                                @Html.LabelFor(forklift=>forklift.General.EnergySource, "Működtetőenergia:")
                            </span>
                            @Html.DropDownListFor(forklift=>forklift.General.EnergySource, energySourceSelector, new {@class = "form-select"})
                            @Html.ValidationMessageFor(forklift=>forklift.General.EnergySource, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Owner -->
        <div class="tab-pane fade col-11 show active" id="owner" role="tabpanel" aria-labelled-by="owner-tab">



            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-text unified-label-width">
                            @Html.LabelFor(forklift=>forklift.Operator.Owner, "Tulajdonos neve:")
                        </span>
                        @Html.TextBoxFor(forklift=>forklift.Operator.Owner, new {@class = "form-control"})
                        @Html.ValidationMessageFor(forklift=>forklift.Operator.Owner, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>


            <div class="row mb-3">
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-text unified-label-width">
                            @Html.LabelFor(forklift=>forklift.Operator.OwnerAddress, "Tulajdonos címe:")
                        </span>
                        @Html.TextBoxFor(forklift=>forklift.Operator.OwnerAddress, new {@class = "form-control"})
                        @Html.ValidationMessageFor(forklift=>forklift.Operator.OwnerAddress, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>


            <div class="row mb-3"></div>


            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-text unified-label-width">
                            @Html.LabelFor(forklift=>forklift.Operator.Operator, "Üzelemtető neve:")

                        </span>
                        @Html.TextBoxFor(forklift=>forklift.Operator.Operator, new {@class = "form-control different-operator-only"})
                        @Html.ValidationMessageFor(forklift=>forklift.Operator.Operator, "", new { @class = "text-danger different-operator-only"})
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-check">
                        @Html.CheckBoxFor(forklift=>forklift.Operator.IsDifferentOperator, new {@class = "form-check-input"})
                        @Html.LabelFor(forklift=>forklift.Operator.IsDifferentOperator, "Eltér a tulajadonostól", new {@class = "form-check-label"})
                    </div>
                </div>
            </div>


            <div class="row mb-3">
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-text unified-label-width">
                            @Html.LabelFor(forklift=>forklift.Operator.OperatorAddress, "Üzemeltető címe:")
                        </span>
                        @Html.TextBoxFor(forklift=>forklift.Operator.OperatorAddress, new {@class = "form-control different-operator-only"})
                        @Html.ValidationMessageFor(forklift=>forklift.Operator.OperatorAddress, "", new { @class = "text-danger different-operator-only" })
                    </div>
                </div>
            </div>

            <div class="card mb-3 col-md-8">
                <div class="card-header">
                    Üzemeltetői feladatok átruházásáról szóló szerzodés adatai
                </div>
                <div class="card-body row">
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-text unified-label-width">
                                @Html.LabelFor(forklift=>forklift.Operator.TransferDate, "Szerződés dátuma:")
                            </span>
                            @Html.TextBoxFor(forklift=>forklift.Operator.TransferDate,"{0:yyyy-MM-dd}", new {@class = "form-control different-operator-only", type="date"})
                            @Html.ValidationMessageFor(forklift=>forklift.Operator.TransferDate, "", new { @class = "text-danger different-operator-only" })
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-text unified-label-width">
                                @Html.LabelFor(forklift=>forklift.Operator.TransferID, "Szerződés száma:")
                            </span>
                            @Html.TextBoxFor(forklift=>forklift.Operator.TransferID, new {@class = "form-control different-operator-only"})
                            @Html.ValidationMessageFor(forklift=>forklift.Operator.TransferID, "", new { @class = "text-danger different-operator-only" })
                        </div>
                    </div>
                </div>
            </div>


            <div class="card fade" id="LeaseOnly">
                <div class="card-header">
                    <h4>Bérlési információ</h4>
                </div>

                <div class="card-body row">

                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                Bérbeadó
                            </div>

                            <div class="card-body">

                                <div class="input-group row mb-3">
                                    <span class="input-group-text col-md-4">
                                        @Html.LabelFor(forklift=>forklift.Operator.LeaseInformation.LeaserCompany, "Szervezet neve:")
                                    </span>
                                    @Html.TextBoxFor(forklift=>forklift.Operator.LeaseInformation.LeaserCompany, new {@class = "form-control"})
                                    @Html.ValidationMessageFor(forklift=>forklift.Operator.LeaseInformation.LeaserCompany, "", new { @class = "text-danger" })
                                </div>

                                <div class="row mb-3">
                                    A bérleti szerződést aláíró személy:
                                </div>

                                <div class="input-group row mb-3">
                                    <span class="input-group-text col-md-4">
                                        @Html.LabelFor(forklift=>forklift.Operator.LeaseInformation.LeaserName, "Neve:")
                                    </span>
                                    @Html.TextBoxFor(forklift=>forklift.Operator.LeaseInformation.LeaserName, new {@class = "form-control"})
                                    @Html.ValidationMessageFor(forklift=>forklift.Operator.LeaseInformation.LeaserName, "", new { @class = "text-danger" })
                                </div>

                                <div class="input-group row mb-3">
                                    <span class="input-group-text col-md-4">
                                        @Html.LabelFor(forklift=>forklift.Operator.LeaseInformation.LeaserOrgUnit, "Szervezeti egység:")
                                    </span>
                                    @Html.TextBoxFor(forklift=>forklift.Operator.LeaseInformation.LeaserOrgUnit, new {@class = "form-control"})
                                    @Html.ValidationMessageFor(forklift=>forklift.Operator.LeaseInformation.LeaserOrgUnit, "", new { @class = "text-danger" })
                                </div>

                                <div class="input-group row mb-3">
                                    <span class="input-group-text col-md-4">
                                        @Html.LabelFor(forklift=>forklift.Operator.LeaseInformation.LeaserPosition, "Beosztás:")
                                    </span>
                                    @Html.TextBoxFor(forklift=>forklift.Operator.LeaseInformation.LeaserPosition, new {@class = "form-control"})
                                    @Html.ValidationMessageFor(forklift=>forklift.Operator.LeaseInformation.LeaserPosition, "", new { @class = "text-danger" })
                                </div>

                                <div class="input-group row mb-3">
                                    <span class="input-group-text col-md-4">
                                        @Html.LabelFor(forklift=>forklift.Operator.LeaseInformation.LeaserContact, "Elérhetőség:")
                                    </span>
                                    @Html.TextBoxFor(forklift=>forklift.Operator.LeaseInformation.LeaserContact, new {@class = "form-control"})
                                    @Html.ValidationMessageFor(forklift=>forklift.Operator.LeaseInformation.LeaserContact, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                Bérbevevő
                            </div>

                            <div class="card-body">

                                <div class="input-group row mb-3">
                                    <span class="input-group-text col-md-4">
                                        @Html.LabelFor(forklift=>forklift.Operator.LeaseInformation.LeaseeCompany, "Szervezet neve:")
                                    </span>
                                    @Html.TextBoxFor(forklift=>forklift.Operator.LeaseInformation.LeaseeCompany, new {@class = "form-control"})
                                    @Html.ValidationMessageFor(forklift=>forklift.Operator.LeaseInformation.LeaseeCompany, "", new { @class = "text-danger" })
                                </div>

                                <div class="row mb-3">
                                    A bérleti szerződést aláíró személy:
                                </div>

                                <div class="input-group row mb-3">
                                    <span class="input-group-text col-md-4">
                                        @Html.LabelFor(forklift=>forklift.Operator.LeaseInformation.LeaseeName, "Neve:")
                                    </span>
                                    @Html.TextBoxFor(forklift=>forklift.Operator.LeaseInformation.LeaseeName, new {@class = "form-control"})
                                    @Html.ValidationMessageFor(forklift=>forklift.Operator.LeaseInformation.LeaseeName, "", new { @class = "text-danger" })
                                </div>

                                <div class="input-group row mb-3">
                                    <span class="input-group-text col-md-4">
                                        @Html.LabelFor(forklift=>forklift.Operator.LeaseInformation.LeaseeOrgUnit, "Szervezeti egység:")
                                    </span>
                                    @Html.TextBoxFor(forklift=>forklift.Operator.LeaseInformation.LeaseeOrgUnit, new {@class = "form-control"})
                                    @Html.ValidationMessageFor(forklift=>forklift.Operator.LeaseInformation.LeaseeOrgUnit, "", new { @class = "text-danger" })
                                </div>

                                <div class="input-group row mb-3">
                                    <span class="input-group-text col-md-4">
                                        @Html.LabelFor(forklift=>forklift.Operator.LeaseInformation.LeaseePosition, "Beosztás:")
                                    </span>
                                    @Html.TextBoxFor(forklift=>forklift.Operator.LeaseInformation.LeaseePosition, new {@class = "form-control"})
                                    @Html.ValidationMessageFor(forklift=>forklift.Operator.LeaseInformation.LeaseePosition, "", new { @class = "text-danger" })
                                </div>

                                <div class="input-group row mb-3">
                                    <span class="input-group-text col-md-4">
                                        @Html.LabelFor(forklift=>forklift.Operator.LeaseInformation.LeaseeContact, "Elérhetőség:")
                                    </span>
                                    @Html.TextBoxFor(forklift=>forklift.Operator.LeaseInformation.LeaseeContact, new {@class = "form-control"})
                                    @Html.ValidationMessageFor(forklift=>forklift.Operator.LeaseInformation.LeaseeContact, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    const checkbox = document.getElementById('Operator_IsDifferentOperator');
                    const inputs = document.querySelectorAll('.different-operator-only');
                    const leaseDiv = document.getElementById('LeaseOnly');

                    checkbox.addEventListener('change', function () {

                        if (!checkbox.checked)
                            leaseDiv.classList.add('fade');
                        else
                            leaseDiv.classList.remove('fade');


                        inputs.forEach(input => {
                            input.disabled = !checkbox.checked;
                        });
                    });

                    if (!checkbox.checked)
                        leaseDiv.classList.add('fade');
                    else
                        leaseDiv.classList.remove('fade');

                    inputs.forEach(input => {
                        input.disabled = !checkbox.checked;
                    });
                });
            </script>

        </div>

        <!-- Operation -->
        <div class="tab-pane fade col-11" id="operation" role="tabpanel" aria-labelled-by="operation-tab">



            <div class="row mb-3">
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-text col-md-3">
                            @Html.LabelFor(forklift=>forklift.Operator.OperationArea, "Üzemeltetés helye:")
                        </span>
                        @Html.TextBoxFor(forklift=>forklift.Operator.OperationArea, new {@class = "form-control"})
                        @Html.ValidationMessageFor(forklift=>forklift.Operator.OperationArea, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>


            <div class="row mb-3">

                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            Üzemeltetésért felelős személy
                        </div>
                        <div class="card-body">
                            <div class="input-group mb-3">
                                <span class="input-group-text col-md-3">
                                    @Html.LabelFor(forklift=>forklift.Operator.UserName, "Név:")
                                </span>
                                @Html.TextBoxFor(forklift=>forklift.Operator.UserName, new {@class = "form-control"})
                                @Html.ValidationMessageFor(forklift=>forklift.Operator.UserName, "", new { @class = "text-danger" })
                            </div>
                            <div class="input-group">
                                <span class="input-group-text col-md-3">
                                    @Html.LabelFor(forklift=>forklift.Operator.UserPosition, "Pozíció:")
                                </span>
                                @Html.TextBoxFor(forklift=>forklift.Operator.UserPosition, new {@class = "form-control"})
                                @Html.ValidationMessageFor(forklift=>forklift.Operator.UserPosition, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            Karbantartásért felelős személy
                        </div>
                        <div class="card-body">
                            <div class="input-group mb-3">
                                <span class="input-group-text col-md-3">
                                    @Html.LabelFor(forklift=>forklift.Operator.TechnicianName, "Név:")
                                </span>
                                @Html.TextBoxFor(forklift=>forklift.Operator.TechnicianName, new {@class = "form-control"})
                                @Html.ValidationMessageFor(forklift=>forklift.Operator.TechnicianName, "", new { @class = "text-danger" })
                            </div>
                            <div class="input-group">
                                <span class="input-group-text col-md-3">
                                    @Html.LabelFor(forklift=>forklift.Operator.TechnicianPosition, "Pozíció:")
                                </span>
                                @Html.TextBoxFor(forklift=>forklift.Operator.TechnicianPosition, new {@class = "form-control"})
                                @Html.ValidationMessageFor(forklift=>forklift.Operator.TechnicianPosition, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            Emelőgép ügyintéző
                        </div>
                        <div class="card-body" id="Forklift_Admin_Div">
                            <div class="input-group mb-3">
                                <span class="input-group-text col-md-3">
                                    @Html.LabelFor(forklift=>forklift.Operator.ForkliftAdministrator, "Név:")
                                </span>
                                @Html.TextBoxFor(forklift=>forklift.Operator.ForkliftAdministrator, new {@class = "form-control lifter-only"})
                                @Html.ValidationMessageFor(forklift=>forklift.Operator.ForkliftAdministrator, "", new { @class = "text-danger lifter-only" })
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text col-md-3">
                                    @Html.LabelFor(forklift=>forklift.Operator.ForkliftAdminPosition, "Pozíció:")
                                </span>
                                @Html.TextBoxFor(forklift=>forklift.Operator.ForkliftAdminPosition, new {@class = "form-control lifter-only"})
                                @Html.ValidationMessageFor(forklift=>forklift.Operator.ForkliftAdminPosition, "", new { @class = "text-danger lifter-only" })
                            </div>
                            <div class="input-group">
                                <span class="input-group-text col-md-5">
                                    @Html.LabelFor(forklift=>forklift.Operator.ForkliftAdminContact, "Elérhetőség:")
                                </span>
                                @Html.TextBoxFor(forklift=>forklift.Operator.ForkliftAdminContact, new {@class = "form-control lifter-only", placeholder="+36(xx)123 4567"})
                                @Html.ValidationMessageFor(forklift=>forklift.Operator.ForkliftAdminContact, "", new { @class = "text-danger lifter-only" })
                            </div>
                        </div>
                        <div class="card-footer">Csak emelőtargoncáknál szükséges</div>
                    </div>
                </div>

                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        const dropdown = document.getElementById('General_ForkliftType');
                        const div = document.getElementById('Forklift_Admin_Div');
                        const inputs = document.querySelectorAll('.lifter-only');

                        dropdown.addEventListener('change', function () {

                            if (dropdown.value != "LIFT")
                                div.classList.add("bg-light");
                            else
                                div.classList.remove("bg-light");

                            inputs.forEach(input => {
                                input.disabled = dropdown.value != "LIFT";
                            });
                        });

                        if (dropdown.value != "LIFT")
                            div.classList.add("bg-light");

                        inputs.forEach(input => {
                            input.disabled = dropdown.value != "LIFT";
                        });
                    });


                </script>

            </div>

        </div>

        <!-- Add more tab content sections as needed -->
    </div>

}
