@{
    ViewData["Title"] = "Home Page";
}
@using OpDoc_Manager.Models

@model Forklift[]

<div class="row">
    @foreach (var forklift in Model)
    {
        <div class="col-md-4 mb-3">
            <div class="card">
                <a href="@Url.Action("Edit","View", new {id = forklift.UniqueId})" class="text-decoration-none text-black">
                    <div class="card-body highlight-on-hover">
                        <h5 class="card-title">@forklift.General.ProductionNumber - @forklift.General.Name</h5>
                        <p class="card-text">
                            Gyártási év: @forklift.General.ManufacturingYear
                        </p>
                    </div>
                </a>
            </div>
        </div>
    }
    <div class="col-md-4 mb-3">
        <div class="card">
            <a href="@Url.Action("Edit","View", new {id = "new"})">
                <div class="card-body d-flex align-items-center justify-content-center highlight-on-hover" style="height:136px">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="lightgrey" class="bi bi-plus-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                    </svg>
                </div>
            </a>
        </div>
    </div>

</div>
