
@model List<Forklift.AdapterRecord?>
@{
    Html.ViewData.TemplateInfo.HtmlFieldPrefix = "Adapter.AdapterList";

    var adapterRecordTextAtt = ViewBag.AdapterRecordTextAtt as object;
    var adapterRecordNumAtt = ViewBag.AdapterRecordNumAtt as object;

    int i = Model.Any() ? Model.Count()-1 : -1;
}


<tr class="row">
    @Html.HiddenFor(al => al[i]!.Id, new { @class = "record-value" })
    <td class="col-md-1 text-center bg-light number-col">@Model[i]!.Number</td>

    <td class="p-1 col-md-3">
        @Html.TextBoxFor(al => al[i]!.Name, adapterRecordTextAtt)
    </td>
    <td class="p-1 col-md-1">
        @Html.TextBoxFor(al => al[i]!.Type, adapterRecordTextAtt)
    </td>
    <td class="p-1 col-md-3">
        @Html.TextBoxFor(al => al[i]!.SerialNumber, adapterRecordTextAtt)
    </td>
    <td class="p-1 col-md-1">
        @Html.TextBoxFor(al => al[i]!.Weight, adapterRecordNumAtt)
    </td>
    <td class="p-1 col-md-2">
        @Html.TextBoxFor(al => al[i]!.LoadCenterDistance, adapterRecordNumAtt)
    </td>
    <td class="p-1 col-md-1 text-center align-content-center">
        <button class="btn btn-danger delete-button">
            <i class="bi bi-trash3"></i>
        </button>
    </td>
</tr>