@{
    Html.ViewData.TemplateInfo.HtmlFieldPrefix = "General";
    List<SelectListItem> modelSelector = (List<SelectListItem>)ViewBag.ModelNames;

    var textInputAttributes = ViewBag.TextInputAttributes as object;
    var numInputAttributes = ViewBag.NumInputAttributes as object;
    var dateInputAttributes = ViewBag.DateInputAttributes as object;
    var select2Attributes = ViewBag.Select2Attributes as object;
    var validationAttributes = ViewBag.ValidationAttributes as object;
}

@model Forklift.GeneralInformation;

<div class="tab-pane fade col-11 show active" id="general" role="tabpanel" aria-labelled-by="general-tab">

    <div class="row mb-3">
        <div class="col-md-8">
            <div class="input-group">
                <span class="input-group-text" style="width:20%">
                    @Html.LabelFor(g => g.Name, "Azonosító:")
                </span>
                @Html.TextBoxFor(g => g.Name, textInputAttributes)
                @Html.ValidationMessageFor(g => g.Name, "", validationAttributes)
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-8">
            <div class="input-group">
                <span class="input-group-text" style="width:20%">
                    @Html.LabelFor(g => g.ModelId, "Targonca típus:")
                </span>
                @Html.DropDownListFor(g => g.ModelId, modelSelector,"", select2Attributes)
                @Html.ValidationMessageFor(g => g.ModelId, "", validationAttributes)
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-text col-md-5">
                    @Html.LabelFor(g => g.ProductionNumber, "Gyártási szám:")
                </span>
                @Html.TextBoxFor(g => g.ProductionNumber, textInputAttributes)
                @Html.ValidationMessageFor(g => g.ProductionNumber, "", validationAttributes)
            </div>
        </div>

        <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-text col-md-5">
                    @Html.LabelFor(g => g.EngineProductionNumber, "Motorszám:")
                </span>
                @Html.TextBoxFor(g => g.EngineProductionNumber, textInputAttributes)
                @Html.ValidationMessageFor(g => g.EngineProductionNumber, "", validationAttributes)
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-text col-md-7">
                    @Html.LabelFor(g => g.EntryIntoService, "Első üzembehelyezés:")
                </span>
                @Html.TextBoxFor(g => g.EntryIntoService, "{0:yyyy-MM-dd}", dateInputAttributes)
                @Html.ValidationMessageFor(g => g.EntryIntoService, "", validationAttributes)
            </div>
        </div>

        <div class="col-md-3">
            <div class="input-group">
                <span class="input-group-text col-md-7">
                    @Html.LabelFor(g => g.ManufacturingYear, "Gyártás éve:")
                </span>
                @Html.TextBoxFor(g => g.ManufacturingYear, numInputAttributes)
                @Html.ValidationMessageFor(g => g.ManufacturingYear, "", validationAttributes)
            </div>
        </div>
    </div>

</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        $('.select2').select2({
            width: '80%',
            allowClear: false,
            placeholder: ""
        });
    });
</script>