@{
    Html.ViewData.TemplateInfo.HtmlFieldPrefix = "Operator";

    var textInputAttributes = ViewBag.TextInputAttributes as object;
    var phoneInputAttributes = ViewBag.PhoneInputAttributes as object;
    var validationAttributes = ViewBag.ValidationAttributes as object;

}
@model Forklift.OperatorInformation

<div class="tab-pane fade col-11" id="operation" role="tabpanel" aria-labelled-by="operation-tab">



    <div class="row mb-3">
        <div class="col-md-8">
            <div class="input-group">
                <span class="input-group-text col-md-3">
                    @Html.LabelFor(o => o.OperationArea, "Üzemeltetés helye:")
                </span>
                @Html.TextBoxFor(o => o.OperationArea, textInputAttributes)
                @Html.ValidationMessageFor(o => o.OperationArea, "", validationAttributes)
            </div>
        </div>
    </div>


    <div class="row mb-3">

        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Üzemeltetésért felelős személy
                </div>
                <div class="card-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text col-md-3">
                            @Html.LabelFor(o => o.UserName, "Név:")
                        </span>
                        @Html.TextBoxFor(o => o.UserName, textInputAttributes)
                        @Html.ValidationMessageFor(o => o.UserName, "", validationAttributes)
                    </div>
                    <div class="input-group">
                        <span class="input-group-text col-md-3">
                            @Html.LabelFor(o => o.UserPosition, "Pozíció:")
                        </span>
                        @Html.TextBoxFor(o => o.UserPosition, textInputAttributes)
                        @Html.ValidationMessageFor(o => o.UserPosition, "", validationAttributes)
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Karbantartásért felelős személy
                </div>
                <div class="card-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text col-md-3">
                            @Html.LabelFor(o => o.TechnicianName, "Név:")
                        </span>
                        @Html.TextBoxFor(o => o.TechnicianName, textInputAttributes)
                        @Html.ValidationMessageFor(o => o.TechnicianName, "", validationAttributes)
                    </div>
                    <div class="input-group">
                        <span class="input-group-text col-md-3">
                            @Html.LabelFor(o => o.TechnicianPosition, "Pozíció:")
                        </span>
                        @Html.TextBoxFor(o => o.TechnicianPosition, textInputAttributes)
                        @Html.ValidationMessageFor(o => o.TechnicianPosition, "", validationAttributes)
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Emelőgép ügyintéző
                </div>
                <div class="card-body" id="AdminDiv">
                    <div class="input-group mb-3">
                        <span class="input-group-text col-md-3">
                            @Html.LabelFor(o => o.ForkliftAdministrator, "Név:")
                        </span>
                        @Html.TextBoxFor(o => o.ForkliftAdministrator, textInputAttributes)
                        @Html.ValidationMessageFor(o => o.ForkliftAdministrator, "", validationAttributes)
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text col-md-3">
                            @Html.LabelFor(o => o.ForkliftAdminPosition, "Pozíció:")
                        </span>
                        @Html.TextBoxFor(o => o.ForkliftAdminPosition, textInputAttributes)
                        @Html.ValidationMessageFor(o => o.ForkliftAdminPosition, "", validationAttributes)
                    </div>
                    <div class="input-group">
                        <span class="input-group-text col-md-5">
                            @Html.LabelFor(o => o.ForkliftAdminContact, "Elérhetőség:")
                        </span>
                        @Html.TextBoxFor(o => o.ForkliftAdminContact, phoneInputAttributes)
                        @Html.ValidationMessageFor(o => o.ForkliftAdminContact, "", validationAttributes)
                    </div>
                </div>
                <div class="card-footer">Csak emelőtargoncáknál szükséges</div>
            </div>
        </div>


    </div>



</div>
