@{
    Html.ViewData.TemplateInfo.HtmlFieldPrefix = "UserManual";

    var webManualSelector = new List<SelectListItem> {
        new SelectListItem("Átadta", "false"),
        new SelectListItem("Nem adta át (alábbi internetcímen elérhető)", "true")
    };

    var manualSupplierSelector = new List<SelectListItem> {
        new SelectListItem("Gyártó", "MANUFACTURER"),
        new SelectListItem("Forgalmazó", "DISTRIBUTOR"),
        new SelectListItem("Eladó","SELLER"),
        new SelectListItem("Bérbeadó", "LEASER",false, true)
    };

    var manualRecipientSelector = new List<SelectListItem> {
        new SelectListItem("Üzemeltető", "OPERATOR"),
        new SelectListItem("Vásárló", "CUSTOMER"),
        new SelectListItem("Bérlő", "LEASEE", false, true)
    };

    var textInputAttributes = ViewBag.TextInputAttributes as object;
    var dateInputAttributes = ViewBag.DateInputAttributes as object;
    var differentOperatorAtt = ViewBag.DifferentOperatorAtt as object;
    var diffOpDateAttributes = ViewBag.DiffOpDateAttributes as object;
    var dropdownAttributes = ViewBag.DropdownAttributes as object;
    var validationAttributes = ViewBag.ValidationAttributes as object;

}

@model Forklift.UserManualInformation

<div class="tab-pane fade col-11" id="manual" role="tabpanel" aria-labelled-by="manual-tab">


    <div class="card col-md-9 mb-3">
        <div class="card-body">


            <div class="col-md-5 mb-3">
                <div class="input-group">
                    <span class="input-group-text col-md-6">
                        @Html.LabelFor(um => um.DateOfTransfer, "Átadás dátuma:")
                    </span>
                    @Html.TextBoxFor(um => um.DateOfTransfer, "{0:yyyy-MM-dd}", dateInputAttributes)
                    @Html.ValidationMessageFor(um => um.DateOfTransfer, "", validationAttributes)
                </div>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text col-md-5">
                    @Html.LabelFor(um => um.IsOnlineManual, "A használati utasítást az átadó:")
                </span>
                @Html.DropDownListFor(um => um.IsOnlineManual, webManualSelector, dropdownAttributes)
                @Html.ValidationMessageFor(um => um.IsOnlineManual, "", validationAttributes)
            </div>

            <div class="input-group mb-3" id="WebsiteInput">
                <span class="input-group-text col-md-2">
                    @Html.LabelFor(um => um.ManualWebsite, "Webcím:")
                </span>
                @Html.TextBoxFor(um => um.ManualWebsite, "", textInputAttributes)
                @Html.ValidationMessageFor(um => um.ManualWebsite, "", validationAttributes)
            </div>

            <div class="row">

                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            Átadó
                        </div>
                        <div class="card-body">
                            <div class="input-group mb-3">
                                <span class="input-group-text col-md-5">
                                    @Html.LabelFor(um => um.SupplierType, "Átadó típusa:")
                                </span>
                                @Html.DropDownListFor(um => um.SupplierType, manualSupplierSelector, dropdownAttributes)
                                @Html.ValidationMessageFor(um => um.SupplierType, "", validationAttributes)
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text col-md-5">
                                    @Html.LabelFor(um => um.SupplierSigneeName, "Képviselő neve:")
                                </span>
                                @Html.TextBoxFor(um => um.SupplierSigneeName, textInputAttributes)
                                @Html.ValidationMessageFor(um => um.SupplierSigneeName, "", validationAttributes)
                            </div>

                            <div class="input-group">
                                <span class="input-group-text col-md-5">
                                    @Html.LabelFor(um => um.SupplierSigneePosition, "Beosztása:")
                                </span>
                                @Html.TextBoxFor(um => um.SupplierSigneePosition, textInputAttributes)
                                @Html.ValidationMessageFor(um => um.SupplierSigneePosition, "", validationAttributes)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            Átvevő
                        </div>
                        <div class="card-body">
                            <div class="input-group mb-3">
                                <span class="input-group-text col-md-5">
                                    @Html.LabelFor(um => um.RecipientType, "Átvevő típusa:")
                                </span>
                                @Html.DropDownListFor(um => um.RecipientType, manualRecipientSelector, dropdownAttributes)
                                @Html.ValidationMessageFor(um => um.RecipientType, "", validationAttributes)
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text col-md-5">
                                    @Html.LabelFor(um => um.RecipientSigneeName, "Képviselő neve:\n ")
                                </span>
                                @Html.TextBoxFor(um => um.RecipientSigneeName, textInputAttributes)
                                @Html.ValidationMessageFor(um => um.RecipientSigneeName, "", validationAttributes)
                            </div>

                            <div class="input-group">
                                <span class="input-group-text col-md-5">
                                    @Html.LabelFor(um => um.RecipientSigneePosition, "Beosztása:")
                                </span>
                                @Html.TextBoxFor(um => um.RecipientSigneePosition, textInputAttributes)
                                @Html.ValidationMessageFor(um => um.RecipientSigneePosition, "", validationAttributes)
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>


    <div class="card fade col-md-9" id="ForkliftManualReturn">
        <div class="card-header">
            <h4>Bérelt targonca visszaruházás</h4>
        </div>
        <div class="card-footer">
            Ameddig a targonca a bérlő tulajdonában van üresen hagyandó
        </div>

        <div class="card-body">

            <div class="col-md-5 mb-3">
                <div class="input-group">
                    <span class="input-group-text col-md-6">
                        @Html.LabelFor(um => um.LeaseReturnDate, "Visszaadás dátuma:")
                    </span>
                    @Html.TextBoxFor(um => um.LeaseReturnDate, "{0:yyyy-MM-dd}", diffOpDateAttributes)
                    @Html.ValidationMessageFor(um => um.LeaseReturnDate, "", validationAttributes)
                </div>
            </div>


            <div class="row">

                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            Bérlő
                        </div>
                        <div class="card-body">

                            <div class="input-group mb-3">
                                <span class="input-group-text col-md-5">
                                    @Html.LabelFor(um => um.LeaseeSigneeName, "Képviselő neve:\n ")
                                </span>
                                @Html.TextBoxFor(um => um.LeaseeSigneeName, differentOperatorAtt)
                                @Html.ValidationMessageFor(um => um.LeaseeSigneeName, "", validationAttributes)
                            </div>

                            <div class="input-group">
                                <span class="input-group-text col-md-5">
                                    @Html.LabelFor(um => um.LeaseeSigneePosition, "Beosztása:")
                                </span>
                                @Html.TextBoxFor(um => um.LeaseeSigneePosition, differentOperatorAtt)
                                @Html.ValidationMessageFor(um => um.LeaseeSigneePosition, "", validationAttributes)
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            Bérbevevő
                        </div>
                        <div class="card-body">

                            <div class="input-group mb-3">
                                <span class="input-group-text col-md-5">
                                    @Html.LabelFor(um => um.LeaserSigneeName, "Képviselő neve:")
                                </span>
                                @Html.TextBoxFor(um => um.LeaserSigneeName, differentOperatorAtt)
                                @Html.ValidationMessageFor(um => um.LeaserSigneeName, "", validationAttributes)
                            </div>

                            <div class="input-group">
                                <span class="input-group-text col-md-5">
                                    @Html.LabelFor(um => um.LeaserSigneePosition, "Beosztása:")
                                </span>
                                @Html.TextBoxFor(um => um.LeaserSigneePosition, differentOperatorAtt)
                                @Html.ValidationMessageFor(um => um.LeaserSigneePosition, "", validationAttributes)
                            </div>

                        </div>
                    </div>
                </div>

            </div>


        </div>

    </div>



</div>

@if(User.IsInRole("Admin")){

<script>

    document.addEventListener('DOMContentLoaded', function () {
        const checkbox = document.getElementById('Operator_IsDifferentOperator');
        const supplierDropdown = document.getElementById('UserManual_SupplierType');
        const recipientDropdown = document.getElementById('UserManual_RecipientType');
        const manualReturnDiv = document.getElementById(('ForkliftManualReturn'));

        let prevSupplierType = 'MANUFACTURER';
        let prevRecipientType = 'OPERATOR';

        checkbox.addEventListener('change', function () {

            supplierDropdown.disabled = checkbox.checked;
            recipientDropdown.disabled = checkbox.checked;


            if (checkbox.checked) {
                manualReturnDiv.classList.add('show');

                prevSupplierType = supplierDropdown.value;
                prevRecipientType = recipientDropdown.value;

                supplierDropdown.value = 'LEASER';
                recipientDropdown.value = 'LEASEE';
            }
            else {
                manualReturnDiv.classList.remove('show');

                supplierDropdown.value = prevSupplierType;
                recipientDropdown.value = prevRecipientType;

            }

        });


        if (checkbox.checked)
            manualReturnDiv.classList.add('show');
        else
            manualReturnDiv.classList.remove('show');

        supplierDropdown.disabled = checkbox.checked;
        recipientDropdown.disabled = checkbox.checked;
    });


    document.addEventListener('DOMContentLoaded', function () {

        const dropdown = document.getElementById('UserManual_IsOnlineManual');
        const div = document.getElementById('WebsiteInput');

        dropdown.addEventListener('change', function () {

            if (dropdown.value === 'true') {
                div.style.display = 'flex';
            }
            else {
                div.style.display = 'none';
            }

        });

        if (dropdown.value === 'true') {
            div.style.display = 'flex';
        }
        else {
            div.style.display = 'none';
        }
    });

</script>
}